/*--------------------------------------
 * VARIABLES
---------------------------------------*/

// Vertical Rhythm
$base-font-size: 14px;
$base-line-height: 21px;
@include establish-baseline;

// Sprites
$icons: sprite-map("icons/*.png");
$icons-layout: smart;

// Retina Sprites
$icons2x: sprite-map("icons-retina/*.png");
$icons2x-layout: smart;

