/*--------------------------------------
 * VARIABLES
---------------------------------------*/

// Vertical Rhythm
$base-font-size: 14px;
$base-line-height: 21px;
@include establish-baseline;

// Sprites
$icons: sprite-map("icons/*.png", $spacing: 3px);

// Colors
$main-color: #049cdb;
$gray-color: #999;
$comp-color: complement($main-color);