/*--------------------------------------
 * LAYOUT
---------------------------------------*/

*, *:before, *:after {
    @include box-sizing(border-box);
}

.popup-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: black(0.5);
    overflow-y: auto;
    text-align: center;

    &.loading:before {
        $loader-width: image-width('loader.gif');
        $loader-height: image-height('loader.gif');
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        background: image-url('loader.gif') no-repeat center center;
        width: $loader-width/2;
        height: $loader-height/2;
        margin-left: -($loader-width/4);
        margin-top: -($loader-height/4);
        @include background-size(100% 100%);
    }
}

.popup {
    background: white;
    @include border-radius(0.3em);
    padding: 1em;
    position: relative;
    max-width: 95%;
    margin-top: 50%;
    @include opacity(0);        // Will be animated on open
    visibility: hidden;
    text-align: left;
}

.main-popup {
    width: 50%;
    left: 25%;
    margin-bottom: 1em;

    @include breakpoint(phone) {
        width: 95%;
        left: 2.5%;
    }
}

.popup-at-element {
    position: absolute;
    margin: 0;
}
