/*--------------------------------------
 * LAYOUT
---------------------------------------*/
.main-container {
	position: relative;
	overflow: hidden;
}
.menu-left, .menu-right {
	position: absolute;
	top: 0;
	height: 100%;
}

.btn-left {
	float: left;
}

.btn-right {
	float: right;
}

.main-content {
	background: rgba(red, 0.1);
	position: relative;

	p {
		clear: both;
	}
}
