<a href="#" class="open-popup">Open popup</a>
<div class="popup main-popup" id="main-popup">
    <h2>Showed on page load <a href="#" data-close-popup>Close popup</a></h2>
    <p>
        Ipsum consequatur distinctio hic dolorum obcaecati nobis. In quaerat temporibus sed fugit temporibus sint tempora velit ipsam illo eos voluptatem? Optio molestiae necessitatibus repellat illo itaque minima enim unde itaque!
    </p>
</div>
