/*--------------------------------------
 * GRID
---------------------------------------*/

%grid {
    @extend %clearfix;
}

%col {
    float: left;
    padding-right: 1.5em;

    &:last-child {
    	padding-right: 0;
    }

    @include responsive(smartphone) {
        width: 100%;
        margin: 0 auto;
        float: none;
    }
}

%col-1-3 {
    @extend %col;
    width: 33.33%;
}

%col-2-3 {
    @extend %col;
    width: 66.66%;
}

%col-1-2 {
    @extend %col;
    width: 50%;
}

%col-1-4 {
    @extend %col;
    width: 25%;
}

%col-3-4 {
    @extend %col;
    width: 75%;
}

/* CLASSES */

.module { @extend %grid; }
.col-1-3 { @extend %col-1-3; }
.col-2-3 { @extend %col-2-3; }
.col-1-4 { @extend %col-1-4; }
.col-3-4 { @extend %col-3-4; }
.col-1-2 { @extend %col-1-2; }