/*--------------------------------------
 * TABLE
---------------------------------------*/

.table {
	width: 1250px;
	margin: 5em auto;
	@extend %clearfix;
	position: relative;
	table {
		border-collapse: collapse;
		width: 100%;
		tr:nth-child(even) {
			background: #eee;
		}
	}

	td, th {
		border: 1px solid black;
		position: relative;
		height: 2em;
	}

	tbody tr {
		display: none;
	}

}

.toggle-level {
	position: relative;
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 0.9em;
	@include border-radius(0.3em);
	background: #eee;
	text-align: center;
	margin-right: 0.2em;
	@include box-shadow(0 0 2px black);
	&:before {
		content: "+";
		color: gray;
		font-weight: bold;
	}

	&.active:before {
		content: "-";
	}
}

.left-table {
	width: 150px;
	float: left;
	@include box-shadow(3px 0 5px -2px black);
	position: relative;
	z-index: 2;
	ul {
		padding: 0 0 0 2.5em;
		list-style: none;
		display: none;
		margin: 0;

		li {
			position: relative;
			min-height: 2em;
			line-height: 2em;
		}

		.vertical {
			content: "";
			position: absolute;
			top: 1em;
			margin-left: 0.4em;
			width: 2px;
			background: gray;
			z-index: -1;
		}

		.horizontal {
			position: absolute;
			top: 1em;
			left: -2.1em;
			height: 2px;
			width: 2.1em;
			background: gray;
			z-index: -1;
		}

		li.level-2 .horizontal {
			min-width: 120%;
			max-width: 200%;
			width: 200%;
			@include transition(all 0.3s linear);
			&.small {
				width: 0;
			}
		}

		li.level-3 .horizontal {
			min-width: 130%;
			max-width: 580%;
			width: 580%;
			@include transition(all 0.3s linear);

			&.medium {
				width: 350%;
			}
			
			&.small {
				width: 0;
			}
		}

		&.opened {
			display: block;
		}
	}

	> ul {
		display: block;
		padding: 0;
	}

	.top-level {
		position: absolute;
		top: 2em;
		left: 1em;
		width: 100%;
		height: 100%;
		z-index: 2;
		> li {
			> .toggle-level {
				margin-right: 2em;
			}
			> .horizontal {
				display: none;
			}
		}
	}
}


.middle-table {
	position: absolute;
	top: 0;
	left: 149px;
	width: 1002px;
	overflow: auto;
	z-index: 1;
	table {
		width: 1500px;
		text-align: center;
		border-bottom: 1px solid black;
		border-left: 0;
		border-right: 0;
	}
}

.table .right-table {
	width: 100px;
	float: right;
	text-align: center;
	@include box-shadow(-3px 0 5px -2px black);
	position: relative;
	z-index: 2;
	  a {
		color: black;
	  	font-style: italic;
	  	text-decoration: underline;
	  	font-size: 0.9em;
	  }
}

