/*--------------------------------------
 * MIXINS
---------------------------------------*/

/*
|------------------------------------------------------------
| Breakpoint mixin
|------------------------------------------------------------
*/

@mixin breakpoint ( $value ) {
    @if $value == 'phone' {
        @media only screen and (max-width: 767px) { @content; }
    }

    @else if $value == 'phone-portrait' {
        @media only screen and (max-width: 767px) and (orientation: portrait) { @content; }
    }

    @else if $value == 'phone-landscape' {
        @media only screen and (max-width: 767px) and (orientation: landscape) { @content; }
    }

    @else if $value == 'tablet' {
        @media only screen and (min-width: 768px) and (max-width: 1023px) { @content; }
    }

    @else if $value == 'tablet-portrait' {
        @media only screen and (min-width: 768px) and (orientation: portrait) { @content; }
    }

    @else if $value == 'tablet-landscape' {
        @media only screen and (min-width: 768px) and (orientation: landscape) { @content; }
    }

    @else if $value == 'desktop' {
        @media only screen and (min-width: 1280px) { @content }
    }

    @else if $value == 'retina' {
            @media
            only screen and (-webkit-min-device-pixel-ratio: 2),
            only screen and (   min--moz-device-pixel-ratio: 2),
            only screen and (     -o-min-device-pixel-ratio: 2/1),
            only screen and (        min-device-pixel-ratio: 2),
            only screen and (                min-resolution: 192dpi),
            only screen and (                min-resolution: 2dppx) { @content; }
    }

    @else {
        @media only screen and (max-width: $value) { @content; }
    }
}

@mixin responsive-sprite($icon, $map: $icons, $retina-map: $icons2x) {

  $icon2x: #{$icon}2x;
  background: sprite($map, $icon);

  @include responsive(retina) {
    background: sprite($retina-map, $icon2x);
    @include background-size(100%);
  }

}
